<div class="min-h-[280px] lg:min-h-[448px] bg-white lg:mx-auto  mt-40 flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <!-- <h2 class="text-white text-[37px] leading-[45px] font-semibold">Why PostEx.</h2> -->
        <p class="text-[--primary-clr] py-4 text-[18px] leading-[21px] font-normal max-w-[417px] text-center">With PostEx you can grow your E-commerce business with endless limits.</p>
        <button class="rounded-full max-w-[164px] text-white bg-primary py-2 px-4 font-semibold text-[18px] leading-[21px]">Book Now</button>
    </div>
</div>
