<div class="backedByBestWrap">
    <div class="maxContainerWidth">
        <div class="title">
            <h2>Trusted Clients</h2>
        </div>
        <div class="logoWrap">
            <div class="imgWrap" *ngFor="let logo of logoData">
                <img class="md:p-8" src="assets/images/home/{{logo.img}}" alt="">
            </div>
            <div class="border1"></div>
            <div class="border2"></div>
            <div class="border3"></div>
            <div class="border4"></div>
            <div class="border5"></div>
            <div class="border6"></div>
        </div>
    </div>
</div>